*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gothamme;
}
body{
    overflow-x: hidden;
    background-color: black;
}
.check{
    display: none;
}
.encabezado{
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}
.logo .figure{
    width: 60px;
}
.enlaces{
    background-color: black;
    align-items: center;
    justify-content: center;
    display: none;
    height: 180px;
}
.enlaces__ul{
    display: flex;
    text-align: center;
    row-gap: 25px;
    list-style: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
}
.enlaces__link{
    color: white;
    text-decoration: none;
    display: block;
    font-weight: 500;
}
.figure{
    width: 200px;
}
.botonn{
    position: absolute;
    z-index: 20;
    right: 25px;
    top: 15px;
    width: 50px;
    height: 40px;
    background-color: black;
    border: none;
    border-radius: 10px;
}
.botonn:active{
    opacity: 0.8;
}
.content{
    display: none;
}
.label{
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.content__linea{
    position: absolute;
    height: 2px;
    width: 60%;
    background-color: white;
    transition: transform .3s ease-in-out;
}
.linea--1{
    top: 11px;
}
.linea--3{
    bottom: 11px;
}
.check:checked + .encabezado .linea--1{
    transform: translateY(18px);
}
.check:checked + .encabezado .linea--2{
    display:none;
}
.check:checked + .encabezado .linea--3{
    transform: translateY(-18px);
}
.check:checked + .encabezado .enlaces{
    display: flex;
    position: relative;
    width: 100%;
}
.check:checked + .encabezado{
    flex-direction: column;
}
.enlaces__lista, .enlaces__link{
    position: relative;
    width: 100%;
}
.enlaces__link::after{
    content: "";
    background: linear-gradient(to right, transparent 15%, rgb(97, 99, 240),rgb(241, 9, 222));
    background-position: left;
    background-size: 600%;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -6px;
    transition: background-position .3s ease-in-out;
}
.enlaces__link:hover::after{
    background-position: right;
    background-size: 200%;
}
.link--acti::after{
    background: linear-gradient(to right, rgb(97, 99, 240), rgb(179, 209, 255), rgb(136, 11, 238));
    background-position: left;
    background-size: 600%;
}
/* primera seccion */
.secc1__f{
    margin: 0 0 0;
}
.secc1__i{
    width: 100%;
}
/* segunda seccion */
.secc2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    padding: 60px 40px;
    gap: 40px;
}
.secc2__arti{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 180px;
    width: 200px;
    background-color: transparent;
    border: 2px solid #339cdd;
    border-radius: 15px;
}
.secc2__arti2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 180px;
    width: 200px;
    background-color: transparent;
    border: 2px solid #339cdd;
    border-radius: 15px;
}
.secc2__arti3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 180px;
    width: 200px;
    background-color: transparent;
    border: 2px solid #339cdd;
    border-radius: 15px;
}
.secc2__p{
    text-align: center;
    color: white;
    font-size: 13px;
    margin-bottom: 0;

}
.secc2__bu a{
    padding: 5px 5px;
    width: 90px;
    color: #339cdd;
    text-decoration: none;
    background: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button{
    border: none;
}
/* tercera seccion */
.secc3{
    background-color: black;
    width: 100%;
}
.secc3__fi{
    margin: 0 0 0;
}
.secc3__im{
    width: 100%;
}
/* footer */
.parte4{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    padding-top: 10px;
}
.parte4__p{
    color: white;
    font-size: 7px;
    text-align: center;
}
.parte4__lo{
    width: 40px;
}
@media (width>=720px){
    .botonn{
        display: none;
    }
    .encabezado{
        justify-content: space-around;
    }
    .enlaces{
        display: flex;
        height: 100px;
    }
    .enlaces__ul{
        display: flex;
        flex-direction: row;
        width: 50%;
        column-gap: 15px;
    }
    .check:checked + .encabezado{
        flex-direction: row;
        justify-content: space-around;
    }
    .check:checked + .encabezado .enlaces{
        width: auto;
    }
    /* seccion 2 */
    .secc2{
        gap: 50px;
    }
    /* footer */
    .parte4{
        height: 140px;
    }
    .parte4__p{
        font-size: 14px;
    }
    .parte4__lo{
        width: 50px;
    }
}