*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family: Arial, sans-serif;
}
header {
    position: relative;
}
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: left;
    display: block;
}
#menu-toggle {
    display: none;
}
.marca {
    padding-top: 20px;
width: 40px;
}
.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #8d0c17;
    color: #fff;
    overflow-y: auto;
    transition: left 0.3s ease;
}

#menu-toggle:checked + .menu-icon + .menu {
    left: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px;
    border-bottom: 1px solid #444;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background-color: #444;
}
.fondo{
    height: 100%;
    width: 100%;
}
.content__article{
    /* background-image: url("../img/jpg/r.webp"); */
    height: 100%;
    width: 100%;
}
.content2__img {
padding-top: 70px;
width: 400px;
}
.content2__h1 {
    display: flex;
}
.container2 {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.content2__img {
    padding: 20px;
    min-width:200px;
    width: 100%;
    max-height: 560px;
}

.content3__article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
    padding-left: 150px;
    text-wrap: wrap;
}
.content3__h1 {
    font-size: 50px;
    color: #2E4E4F;
    font-family: Nena Serif Italic;
    text-align: end;
}
.content3__p {
    padding-top: 30px;
    font-size: 20px;
    color: #000000;
    font-family: Alphii;
    text-align: end;
    line-height:40px;
}
.container3 {
    width: 100%;
    background-image: ("");
}
.content3__article3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content3__figure3 {
    margin: 0;
}
.content3__img3 {
    min-width:200px;
    width: 100%;
    max-height: 560px;
}
.content3__nav3 {
    width: 100%;
}
.content3__ul3 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #d3d3d3; /* Color de fondo gris */
}
.content__a {
    display: block;
    padding: 20px;
    font-size: 13px;
    text-align: center;
    color: #000; /* Color del texto */
    text-decoration: none;
    width: 100%; /* Asegura que el fondo abarque toda la anchura */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}
.content__a:hover {
    background-color: #b0b0b0; /* Color de fondo al pasar el ratón */
}
.enlace2 {
    background-color: #f5f118; /* Color de fondo al pasar el ratón */
}
.enlace2:hover {
    background-color: #d8db11; /* Color de fondo al pasar el ratón */
}
.container-footer {
    background-color: #000;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content__img-footer {
width: 40px;
}
.content__p-footer {
    color: #fff;
}

