* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
}

/* .bg-danger{
    overflow-x: hidden;
} */

.checkbox {
    display: none;
}

.header-menu {
    background-color: #369292;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 85px;
    padding: 2px 20px;
}

.nav-menu {
    background-color: #369292;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: none;
}

.nav-menu__lista {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    list-style: none;
    width: 100%;
    padding: 0;
}

.nav-menu__link {
    color: #fff;
    text-decoration: none;
    display: block;
}

.logo-img {
    width: 190px;
}

.btn-menu {
    position: absolute;
    z-index: 20;
    right: 25px;
    width: 60px;
    height: 40px;
    background: url("../img/png/menubt2.png");
    background-size: 100% 100%;
    border: none;
}

.btn-menu:active {
    opacity: 0.9;
}

.men {
    display: none;
}

.chk-oculto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.chk-oculto__lineas {
    height: 2px;
    width: 60%;
    background-color: #111;
    position: absolute;
    transition: transform .2s ease-in-out;
}


.checkbox:checked+.header-menu .nav-menu {
    display: flex;
    left: 0;
    top: 80px;
    position: absolute;
    width: 100%;
}

.checkbox:checked+.header-menu {
    flex-direction: column;
    align-items: initial;
}

.nav-menu__item,
.nav-menu__link {
    position: relative;
    width: 100%;
}

.nav-menu__link::after {
    content: "";
    background: linear-gradient(to right, transparent 15%, #dedede, #dedede);
    background-position: left;
    background-size: 600%;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -6px;
    transition: background-position .4s ease-in-out;
}

.nav-menu__link:hover::after {
    background-position: right;
    background-size: 200%;
}

/* MISION */

.nosotros-page {
    color: #369292;
    min-height: 700px;
    width: 100%;
    row-gap: 300px;
    justify-content: space-around;
}
.mision-conten {
    padding: 0px 60px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.titulo-mi {
    font-family: montserrat-black;
    font-size: 34pt;
    text-align: center;
    padding: 5px 0px;
}

.sub-mi{
    text-transform: uppercase;
    font-family: montserrat-black;
    font-size: 24pt;
    text-align: center;
    padding-bottom: 10px;
}

.text-m {
    text-transform: uppercase;
    font-family: montserrat-li;
    font-size: 13pt;
    padding: 15px 0px;
}

.estudiante2{
    display: none;
}


/* FOOTER */

.footer {
    background-color: #369292;
    width: 100%;
    display: flex;
    height: 120px;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.footer-conten {
    text-transform: uppercase;
    flex-wrap: wrap;
    position: relative;
    background-color: #369292;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.copy {
    padding-top: 100px;
    font-family: montserrat-li;
}

@media (width >=780px) {
.btn-menu {
    display: none;
}
.header-menu {
    justify-content: space-around;
}
.nav-menu {
    display: flex;
    height: 100px;
    background: none;
}
.nav-menu__lista {
    display: flex;
    flex-direction: row;
    width: 50%;
    column-gap: 15px;
}
.checkbox:checked+.header-menu {
    flex-direction: row;
    justify-content: space-around;
}
.checkbox:checked+.header-menu .nav-menu {
    background: none;
    width: auto;
    position: relative;
    top: 0;
}
.nosotros-page {
    display: flex;
    padding-left: 40px;
    justify-content: space-between;
    justify-items: left;
    text-align: left;
    min-height: 700px;
}
.titulo-mi{
    text-align: left;
}
.sub-mi{
    text-align: left;
}
.text-m{
    text-align: left;
}

.estudiante2{
    display: flex;
    height: 900px;
}

.nosotros-page{
    align-items: center;
}
}