@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cosmetic';
    src: url('../fonts/Cosmetic/FontsFree-Net-Cosmetic-Bold-2720dac81c9a00b37fd1297c5d555f2f.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* HEADER */

.contenedor{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px 90px;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu img{
    height: 45px;
    width: auto;
    padding: 10px;
    margin-top: 20px;
}

.menu .navbar ul li{
    display: inline-block;
    padding: 0 20px;
    display: inline-block;
    padding: 0 20px;  
}

.menu .navbar ul li:hover{
    transform: scale(1.1)
}

.menu .navbar ul li a{
color: white;
font-family: Montserrat SemiBold;
font-size: 14pt;
}

.menu .navbar ul li a:hover{
    color:#009b54;
}

#menu{
    display: none;
}

.menu-icono{
    width:50px;
}

.menu label{
    cursor: pointer;
    display: none;
}


/* FORMULARIO */

.tarjeta{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url(../img/jpg/Fondo-formulario.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.contenedorf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo{
    width: 115px;
    height: auto;
    margin-bottom: 475px;
    z-index: 10;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 20px;
}

.formulario h1{
text-align: center;
padding: 0 0 20px 0;
border-bottom: 1px solid silver;
font-size: 48pt;
font-family: Cosmetic;
line-height: 1.2;
}

.formulario form{
padding: 0 40px;
box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16p;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content: ' ';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100px;
    height: 2px;
    background-color: black;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: black;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}

input[type=submit]{
    width: 100px;
    height: 30px;
    border: 1px solid;
    background-color: #009b54;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    font-size: 12pt;
    font-family: Montserrat Bold;
    margin-left: 100px;
    margin-bottom: 20px;
}

input[type="submit"]:hover{
    border-color: black;
    transition: .5s;
}


/* Footer */

footer {
    background-color: #009b54; /* Color de fondo del footer */
    color: white; 
    padding: 20px 0; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.footer-content p {
    font-family: Montserrat;
    font-size: 12pt;
    text-align: center; 
    margin: 0; 
}

.logo {
    max-width: 150px; 
    margin-bottom: 20px; 
}

.icons {
    display: flex; 
    justify-content: center; 
    margin-bottom: 10px; 
}

.icons img {
    width: 40px; 
    margin: 0 10px; 
}



/* Responsive header */

@media(max-width:970px) {
    .contenedor{
        background-color: #000000
    }

    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .fondo{
        padding: 30px
    }

    .menu .navbar{
        position: absolute;
        padding: 15px;
        top: 109px;
        left: 0;
        right: 0;
        display: none;
        z-index: 1000;
    }

    .menu .navbar ul li{
        width: 100%;
        padding: 10px;
    }

    #menu:checked ~ .navbar{
        display: initial;
        background-color: rgba(0, 0, 0, 0.4);
        margin-top: -10;
    }
}

/* Responsive formulario */

@media (max-width: 720px) {

    .tarjeta{
    width:auto ;
    }
    .formulario {
        width: 90%;
    }


    .form{
        width: 90%;
    }

    .formulario h1 {
        font-size: 28pt; 
    }

    form .username {
        margin: 15px 0; 
    }

    input[type=submit]{
        font-family: Montserrat Bold;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .formulario form{
        padding: 0 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        }

}