*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monserratregular;
}
body{
    overflow-x: hidden;
    background-color: white;
}
.checkbox{
    display: none;
}
.header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
.enlace{
    background-color: black;
    height: 180px;
    align-items: center;
    justify-content: center;
    display: none;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
    @starting-style{
        transform: translateY(-160px)
    }
}
.enlace__ul{
    display: flex;
    text-align: center;
    flex-direction: column;
    row-gap: 25px;
    list-style: none;
    width: 100%;
    padding: 0 0 0;
}
.enlace__link{
    color: aliceblue;
    text-decoration: none;
    display: block;
}
.fig-logo{
    width: 100px;
}
.button{
    position: absolute;
    z-index: 20;
    right: 25px;
    width: 60px;
    height: 45px;
    background-color: black;
    border: none;
    border-radius: 15px;
}
.button:active{
    opacity: 0.9;
}
.contenido{
    display: none;
}
.label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.contenido__linea{
    height: 2px;
    width: 60%;
    background-color: aliceblue;
    position: absolute;
    transition: transform .2s ease-in-out;
}
.linea--uno{
    top: 10px;
}
.linea--tres{
    bottom: 10px;
}
.checkbox:checked + .header .linea--uno{
    transform: translateY(9px);
}
.checkbox:checked + .header .linea--dos{
    display:none;
}
.checkbox:checked + .header .linea--tres{
    transform: translateY(-9px);
}
.checkbox:checked ~ .enlace{
    display: flex;
}
.enlace__li, .enlace__link{
    width: 100%;
    position: relative;
}
.enlace__link::after{
    content: "";
    background: linear-gradient(to right, transparent 15%, rgb(240, 97, 233), rgb(179, 209, 255), rgb(136, 11, 238));
    background-position: left;
    background-size: 600%;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -6px;
    transition: background-position .4s ease-in-out;
}
.enlace__link:hover::after{
    background-position: right;
    background-size: 200%;
}
.link--activo::after{
    background: linear-gradient(to right, rgb(240, 97, 233), rgb(179, 209, 255), rgb(136, 11, 238));
    background-position: left;
    background-size: 600%;
}
/* Sección uno */
.sec1__porta{
    margin: 0 0 0;
}
.sec1__portada{
    width: 100%;
}
/* Sección dos */
.sec2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 40px;
}
.sec2__artuno{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-image: url("../img/jpg/cono.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 600px;
    min-height: 200px;
    width: 200px;
}
.sec2__artdos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-image: url("../img/jpg/explora.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 600px;
    min-height: 200px;
    width: 200px;
}
.sec2__arttres{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-image: url("../img/jpg/comu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 600px;
    min-height: 200px;
    width: 200px;
}
.sec2__h2{
    font-weight: 500;
    font-size: 12px;
    color: white;
    text-align: center;
}
.sec2__boton a{
    padding: 10px 15px;
    width: 50px;
    color: white;
    outline: none;
    text-decoration: none;
    font-weight: 500;
    background: black;
    border-radius: 5px;
    border: none;
}
button{
    border: none;
}
.final{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100px;    
    padding-top: 10px;
}
.final__p{
    color: white;
    font-size: 6px;
    font-weight: 400;
    text-align: center;
}
.final__gu{
    width: 140px;
}

@media (min-width: 700px){
    .button{
        display: none;
    }
    .enlace{
        display: flex;
        height: 100px;
    }
    .enlace__ul{
        display: flex;
        flex-direction: row;
        width: 50%;
        column-gap: 8px;
    }
    /* sección dos */
    .sec2{
        gap: 50px;
    }
    /* footer */
    .final__p{
        color: white;
        font-size: 10px;
        font-weight: 400;
        text-align: center;
    }
    .final__gu{
        width: 200px;
    }
}