/* ESTILOS BASE */

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/Airbnb1.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/Airbnb2.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/Airbnb3.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/Airbnb4.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/Airbnb5.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/Airbnb6.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Aribnb Cereal', sans-serif;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 61px;
    line-height: 71px;
}

h2 {
    font-weight: 800;
}

h3 {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

strong {
    font-weight: 700;
    line-height: 28px;
}

/* HEADER */

.header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 100;
    color: #ffff;
    background: linear-gradient(to right, #D23756, #C82E64);
}

.contenedor{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu img{
    height: 50px;
    width: auto;
    padding: 10px;
}


.menu .navbar ul li{
    display: inline-block;
    padding: 0 20px;
    display: inline-block;
    padding: 0 20px;  
}

.menu .navbar ul li a{
color: #ffffff;
}

#menu{
    display: none;
}

.menuicono{
    width:50px;
}

.menu label{
    cursor: pointer;
    display: none;
}

/* CATEGORIAS */

.lomasv {
    min-height: 820px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lomasvcont {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    margin: 80px;
}

.tarjetas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    min-height: 460px;
    color: #000000;
    flex-wrap: wrap;
}

.tipla {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tipla h3{
    font-size: 16px;
    font-weight: 500;
}

.tarjeta p{
    width: 216px;
}

.fotoprod {
    width: 252px;
}

.tarjeta {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 252px;
    height: 308px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: height 0.2s cubic-bezier(0.64, 0.36, 0.23, 0.92);
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 15px;
    margin-top: -10px;
    font-family: Airbnb Cereal;
}

.descmar {
    display: flex;
    gap: 5px;
    align-items: center;
}

.descmar h3 {
    font-weight: 300;
    font-size: 15px;
    color: #606060;
}

.descrip {
    font-size: 15px;
    color: #606060;
    text-align: justify;
}

.lomastit h1{
    text-align: center;
}

.lomastit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.lomastit p{
    font-size: 20px;
}

.desc button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: none;
    background: linear-gradient(to right, #D23756, #C82E64);
    color: #F7F7F7;
    padding: 14px;
    border-radius: 10px;
    width: 100%;
    font-weight: 600;
}

.hid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    display: none;
    transition: opacity 0.5s cubic-bezier(0.64, 0.36, 0.23, 0.92);
    opacity: 0;
}

.tarjeta:hover .hid{
    display: flex;
    opacity: 1;
}

.tarjeta:hover {
    height: 430px;
}



.equipaje {
    min-height: 820px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equicont {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    margin: 80px;
}

.confort {
    min-height: 820px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confcont {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    margin: 80px;
}

.tecnologia {
    min-height: 820px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tecnocont {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    margin: 80px;
}


.catego p{
    max-width: 216px;
    color: #FFFFFF;
}

.catego h3{
    color: #FFFFFF;
}

.categot p{
    max-width: 216px;
    color: #FFFFFF;
}

.categot h3{
    color: #FFFFFF;
}

.categoc p{
    max-width: 216px;
    color: #FFFFFF;
}

.categoc h3{
    color: #FFFFFF;
}



.categotop {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    max-width: 980px;
    height: 190px;
    display: flex;
}

.catego {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 980px;
    height: 190px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../img/jpg/f3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 50px;
}

.categoc {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 980px;
    height: 190px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../img/jpg/f4.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 50px;
}

.categot {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 980px;
    height: 190px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../img/jpg/f5.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 50px;
}



/* FOOTER */

.footer{
    height: 100px;
    width: 100%;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    color: #000000;
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h3 {
    font-weight: 600;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* media query */

@media (max-width: 720px) {
    
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    
    .footer-left {
        margin-top: 10px;
    }

    .lomasvcont{
        margin: 0;
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .equicont{
        margin: 0;
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .tecnocont{
        margin: 0;
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .confcont{
        margin: 0;
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .catego {
        border-radius: 0px;
    }
    .categoc {
        border-radius: 0px;
    }
    .categot {
        border-radius: 0px;
    }

    h1 {
        font-size: 50px;
        line-height: 55px;
    }

    .lomastit p {
        font-size: 16px;
        max-width: 450px;
    }
    
    }

    @media(max-width:400px) {

        h1 {
            font-size: 40px;
            line-height: 42px;
        }

        .lomastit h1 {
            max-width: 300px;
        }
    
        .lomastit p {
            font-size: 16px;
            max-width: 300px;
        }

    }

    /* RESPONSIVE HEADER */

@media(max-width:720px) {
    .menu{
        padding: 10px;
    }

    .menu label{
        display: block;
    }

    .contenedor{
        padding: 30px
    }

    .menu .navbar{
        position: absolute;
        padding: 15px;
        top: 100px;
        left: 0;
        right: 0;
        background-color: #CD325D;
        display: none;
        font-size: 16px;
    }

    .menu .navbar ul li{
        width: 100%;
        padding: 10px;
    }

    #menu:checked ~ .navbar {
        display: block;
    }
}