@font-face {
    font-family: Analogist;
    src: url("../tipografia/Analogist.ttf");
}
@font-face {
    font-family: Avenir-Regular;
    src: url("../tipografia/Avenir-Regular.ttf");
}
@font-face {
    font-family: Monserrat;
    src: url("../tipografia/Montserrat-Regular.ttf");
}